@import "tailwindcss";

/* Dark mode variables */
:root {
    --bg-color: #000000;
    --text-color: #f5f5f5;
}

.dark {
    --bg-color: #ffffff;
    --text-color: #111111;
}

/* Apply variables */
body {
    background-color: var(--bg-color);
    color: var(--text-color);
}

/* Glassmorphism utility */
.glass {
    background: rgba(255, 255, 255, 0.08);
    border-radius: 1rem;
    backdrop-filter: blur(12px);
    border: 1px solid rgba(255, 255, 255, 0.12);
}


body {
    @apply bg-black text-zinc-100;
}